{% extends "chtest/base.html" %}
{% block content %}

<h1>Group test</h1>

This page opens a group socket, sends a message to it and expects a reply back. Please open up a javascript console.

<script>
  var group_socket = new WebSocket("ws://127.0.0.1:8000/group/");

  group_socket.onopen = function() {
      var group_msg = "Hello group";
      console.log("Connected to group socket, sending '" + group_msg + "', expecting to see this message appear in the group socket to everyone...");
      group_socket.send(group_msg);
  }
  group_socket.onmessage = function(e) {
    console.log("Got a message from group socket: " + e.data);
  }
</script>

{% endblock %}

